*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0px;
  box-sizing: border-box; }

ul {
  list-style: none; }

#banner {
  height: 100vh;
  background: url("../../img//pizza-1.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; }
  #banner .wrapper {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    position: relative; }
    #banner .wrapper .image-wrapper {
      margin: auto; }
      #banner .wrapper .image-wrapper::after {
        content: "";
        background-color: #fff;
        width: 50px;
        height: 2px;
        color: #fff;
        display: block;
        position: absolute;
        right: 174px; }
      #banner .wrapper .image-wrapper img {
        width: 100%;
        margin: 0 auto;
        display: block; }
    #banner .wrapper a {
      position: relative;
      border-radius: 50%;
      width: 50px;
      font-size: 30px;
      color: #fff;
      border: 2px solid #fff;
      height: 50px; }
      #banner .wrapper a i {
        display: block;
        position: absolute;
        top: 10px;
        left: 10.5px;
        text-align: center; }
  #banner .menu {
    position: absolute;
    top: 65px;
    color: #fff;
    right: 100px; }
    #banner .menu i {
      font-size: 37px; }

#introduction {
  background-color: #e8eced;
  padding: 80px 0; }
  #introduction .container {
    width: 1080px;
    margin: 0 auto; }
    #introduction .container .article-about {
      margin-bottom: 150px;
      margin-left: auto;
      width: 980px;
      background-color: #fff;
      padding: 60px;
      position: relative;
      height: 500px; }
      #introduction .container .article-about.img-right {
        margin-left: initial;
        margin-bottom: 150px;
        margin-right: auto; }
      #introduction .container .article-about .desc {
        padding-top: 30px;
        max-width: 470px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%; }
        #introduction .container .article-about .desc.desc-right {
          margin: 0;
          margin-right: auto; }
        #introduction .container .article-about .desc h2 {
          color: #333;
          font-size: 18px;
          font-weight: 500; }
        #introduction .container .article-about .desc p {
          color: #333;
          font-size: 24px;
          font-weight: 300; }
      #introduction .container .article-about img {
        position: absolute;
        left: -100px;
        max-width: 400px; }
      #introduction .container .article-about img.right {
        left: initial;
        right: -100px;
        top: 60px; }

#footer {
  background-color: #24252c;
  color: #fff; }
  #footer .container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh; }
    #footer .container ul {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      #footer .container ul li {
        max-width: 200px; }
        #footer .container ul li > li {
          margin-right: 30px; }
        #footer .container ul li h1 {
          text-transform: uppercase;
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 12px;
          font-weight: 400;
          letter-spacing: 0.4; }
        #footer .container ul li p {
          font-size: 16px;
          line-height: 27px; }
      #footer .container ul .socials h1 {
        margin-bottom: 18px;
        text-transform: uppercase; }
      #footer .container ul .socials a {
        display: inline-block;
        margin-right: 10px; }
      #footer .container ul .socials img {
        max-width: 20px;
        height: 20px; }
    #footer .container img {
      max-width: 200px;
      display: block; }
    #footer .container span {
      text-align: start;
      align-self: start;
      font-size: 13px;
      color: #aaa;
      border-bottom: 1px solid #000; }
