#banner {
  height: 100vh;
  background: url("../../img//pizza-1.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  // .container {
  //   max-width: 1080px;
  //   margin: 0 auto;
  // }

  .wrapper {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;

    .image-wrapper {
      &::after {
        content: "";
        background-color: #fff;
        width: 50px;
        height: 2px;
        color: #fff;
        display: block;
        position: absolute;
        right: 174px;
      }
      margin: auto;
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    a {
      position: relative;
      border-radius: 50%;
      width: 50px;
      font-size: 30px;
      color: #fff;
      border: 2px solid #fff;
      height: 50px;
      i {
        display: block;
        position: absolute;
        top: 10px;
        left: 10.5px;
        text-align: center;
      }
    }
  }

  .menu {
    position: absolute;
    top: 65px;
    color: #fff;
    right: 100px;
    i {
      font-size: 37px;
    }
  }
}

#introduction {
  background-color: #e8eced;
  padding: 80px 0;

  .container {
    width: 1080px;
    margin: 0 auto;

    .article-about {
      &.img-right {
        margin-left: initial;
        margin-bottom: 150px;
        margin-right: auto;
      }

      margin-bottom: 150px;
      margin-left: auto;
      width: 980px;
      background-color: #fff;
      padding: 60px;
      position: relative;
      height: 500px;

      .desc {
        &.desc-right {
          margin: 0;
          margin-right: auto;
        }
        padding-top: 30px;
        max-width: 470px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        h2 {
          color: #333;
          font-size: 18px;
          font-weight: 500;
        }
        p {
          color: #333;
          font-size: 24px;
          font-weight: 300;
        }
        a {
        }
      }

      img {
        position: absolute;
        left: -100px;
        max-width: 400px;
      }

      img.right {
        left: initial;
        right: -100px;
        top: 60px;
      }
    }
  }
}

#footer {
  background-color: #24252c;
  color: #fff;

  .container {
    width: 1080px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;

      li {
        max-width: 200px;
        & > li {
          margin-right: 30px;
        }
        h1 {
          text-transform: uppercase;
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 12px;
          font-weight: 400;
          letter-spacing: 0.4;
        }

        p {
          font-size: 16px;
          line-height: 27px;
        }
      }
      .socials {
        h1 {
          margin-bottom: 18px;
          text-transform: uppercase;
        }
        a {
          display: inline-block;
          margin-right: 10px;
        }

        img {
          max-width: 20px;
          height: 20px;
        }
      }
    }

    img {
      max-width: 200px;
      display: block;
    }

    span {
      text-align: start;
      align-self: start;
      font-size: 13px;
      color: #aaa;
      border-bottom: 1px solid #000;
    }
  }
}
